Flask>=0.12
twilio~=6.38.1
python-dotenv~=0.13.0
Werkzeug~=0.16.0
fake-rpi>=0.6.2
Flask-Ask>=0.9.8
aniso8601==1.2.0
Flask==0.12.1 
pyOpenSSL==17.0.0
PyYAML==3.12
six==1.11.0
python-dateutil
itsdangerous>=0.21 
Werkzeug>=0.7  
click>=2.0 
Jinja2>=2.4 
cryptography>=1.7 
MarkupSafe>=0.23 
cffi!=1.11.3,>=1.8 
pycparser >= 2.20 