aniso8601==1.2.0
attrs==19.3.0
cffi==1.14.0
click==7.1.2
cryptography==2.9.2
fake-rpi>=0.5.0
Flask>=0.12
Flask-Ask==0.9.8
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.3.0
numpy==1.18.4
packaging==20.4
pluggy==0.13.1
psycopg2==2.8.4
py==1.8.1
pycparser==2.20
pyOpenSSL==17.0.0
pyparsing==2.4.7
pytest==5.4.2
python-dateutil==2.8.1
python-dotenv~=0.13.0
PyYAML==3.12
six==1.11.0
twilio~=6.38.1
wcwidth==0.1.9
Werkzeug~=0.16.0
yapf==0.30.0
